
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ advertise_address }}
  bindPort: 6443
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: stable-1.28
controlPlaneEndpoint: "{{ LOAD_BALANCER_IP }}:6443" # Replace with your master node's IP and port
networking:
  podSubnet: "192.168.0.0/16" # Change as needed for your network
apiServer:
  certSANs:
    - "10.20.5.19"  # Add IP addresses of your masters here

